<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<context id="MysqlTables" targetRuntime="MyBatis3"
		defaultModelType="flat">
		<property name="beginningDelimiter" value="`" />
		<property name="endingDelimiter" value="`" />
		<plugin type="tk.mybatis.mapper.generator.MapperPlugin">
			<property name="mappers" value="com.ctj.mybatis.tools.BaseMapper" />
			<property name="caseSensitive" value="true" />
		</plugin>
		<!--数据库链接URL，用户名、密码 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true" userId="root"
			password="root">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="true" />
		</javaTypeResolver>
		<javaModelGenerator targetPackage="${targetModelPackage}"
			targetProject="${targetJavaProject}">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="false" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="${targetXMLPackage}"
			targetProject="${targetResourcesProject}" />
		<javaClientGenerator targetPackage="${targetMapperPackage}"
			targetProject="${targetJavaProject}" type="XMLMAPPER" />

		<!-- 要生成的表 -->
		<table tableName="t_user" enableCountByExample="false"
			domainObjectName="user.User" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
	</context>
</generatorConfiguration>